<div ng-controller="shoppingCartCtrl">
	<h2>YOUR SHOPPING BAG</h2>
	<table class="table" ng-show="productData.productsInCart.length > 0">
	   <tr>
			<th>{{productData.productsInCart.length}} ITEMS</th>
			<th class="col-xs-2"></th>
			<th class="col-xs-2">SIZE</th>
			<th class="col-xs-2">QTY</th>
			<th class="col-xs-2">PRICE</th>
		</tr>
		<tr ng:repeat="item in productData.productsInCart">
			<td class="col-xs-2"><img src='{{item.p_image}}'></td>
			<td class="col-xs-4">
			<p>{{item.p_name}}</p>
			<p>Style #:{{item.p_style}}</p>
			<p>Colour:{{item.p_selected_color.name}}</p>
			<span class="clickable" ng-click="editItem(item.p_id)">EDIT |</span> 
			<span class="clickable" ng-click="removeItem(item.p_id)">X REMOVE |</span>
			<span class="clickable">SAVE FOR LATER</span>
		</td>    
			<td class="col-xs-2">{{item.p_selected_size.code}}</td>
			<td class="col-xs-2"><input id="qty_textbox" type="textbox" ng:model="item.p_quantity" disabled></td>
			<td class="col-xs-2">{{item.c_currency}}{{item.p_price}}</td>
		</tr>
	 </table>
	 <div class="footer" ng-show="productData.productsInCart.length > 0">
			<div class="total_div" >
				<span class="sub_total_text">SUB TOTAL:</span>
				 <span class="sub_total">{{total() | currency}}<span>
			</div>
			<hr class="hr">
			<button type="button" class="btn btn-primary" id="check_out">CHECKOUT</button>
	</div>
	<div ng-show="productData.productsInCart.length == 0">
	<hr>
	<p>There are no items in your cart</p>
	<button type="button" class="btn btn-primary" ng-click="continueShopping()">Continue Shopping</button>
	</div>
	<modal visible="showModal"></modal>
</div>
